<h2>Mountain details</h2>

<p>Name <%= @mountain["name"]%></p>

<img src = "<%= @mountain["image"] %>">

<p>Description <%= @mountain["description"] %></p>

<p>Link <%=@mountain["url"] %></p>

<p>Elevation <%= @mountain["elevation"]%></p>
